@import 'fonts';
//mobile version
@media (max-width: 479px) {
  .wrapper {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  header {
    height: 540px;
    width: 100%;
    display: block;
    background: url("../../img/src/logo.png") no-repeat;
  }
  .find {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;

    &__buttons {
      display: block;
      padding-top: 22px;
      padding-left: 59px;
    }
    &__left {
      display: block;
      float: left;
      width: 86px;
      height: 32px;
      font-family: 'Montserrat Bold', sans-serif;
      font-size: 14px;
      background: none;
      border-radius: 16px;
      color: #fff;
      border: transparent;
      cursor: pointer;
    }
    &__right {
      @extend .find__left;
    }
    &__left:hover,
    &__right:hover {
      border: 3px solid white;
    }
  }
  .text {
    display: block;
    margin-top: 119px;

    &__link {
      display: block;
      font-size: 19px;
      color: #FFFFFF;
      font-family: 'Montserrat Bold', sans-serif;
      text-decoration: none;
      padding-left: 71px;
      letter-spacing: 2px;
    }
    &__first {
      display: block;
      padding-left: 60px;
      padding-top: 32px;
      color: #FFFFFF;
      font-family: 'Montserrat Bold', sans-serif;
      font-size: 30px;
      text-transform: uppercase;
    }
    &__second {
      @extend .text__first;
      padding-top: 8px;
      padding-left: 21px;
      letter-spacing: 1px;
      width: 281px;
    }
    &__info {
      display: block;
      width: 219px;
      color: #FFFFFF;
      font-family: 'Roboto Light', sans-serif;
      font-size: 18.01px;
      padding-top: 15px;
      padding-left: 49px;
      text-align: center;
    }
    &__find {
      display: block;
      margin-top: 20px;
      margin-left: 19px;
      height: 38px;
      overflow: hidden;
      position: relative;
      width: 280px;
      border-radius: 16px;
      background: #ff4e50;
      border: none;
      cursor: pointer;
      color: #FFFFFF;
      font-size: 14px;
      letter-spacing: 1px;
      font-family: 'Montserrat Bold', sans-serif;
    }
  }
  .content {
    display: block;
    margin-top: 37px;
    position: relative;
    overflow: hidden;
    &__slider {
      display: block;
      clear: both;
    }
    &__text {
      display: block;
      font-size: 21px;
      font-family: 'Montserrat Bold', sans-serif;
      padding-left: 17px;
      letter-spacing: 2px;
      height: 31px;
    }
    &__item {
      margin-top: 4px;
      margin-left: 10px;
    }
  }
  .bxslider {
    &__step {
      display: block;
      left: 21px;
      top: -172px;
      position: relative;
      overflow: hidden;
      width: 70px;
      height: 15px;
      text-align: center;
      border-radius: 16px;
      font-size: 10px;
      text-transform: uppercase;
      padding-top: 7px;
      letter-spacing: 1px;
      color: #fff;
      font-family: 'Montserrat Regular', sans-serif;
      background: #ff4e50;
      cursor: pointer;
    }
    &__one,
    &__two,
    &__three {
      height: 240px;
    }
    &__main {
      display: block;
      left: 18px;
      line-height: 27px;
      top: -156px;
      position: relative;
      overflow: hidden;
      width: 200px;
      height: 50px;
      font-size: 25px;
      letter-spacing: 1.0px;
      color: #fff;
      font-family: 'Montserrat Bold', sans-serif;
      cursor: pointer;
    }
    &__text {
      display: block;
      left: 18px;
      top: -138px;
      position: relative;
      overflow: hidden;
      width: 275px;
      line-height: 17px;
      height: 60px;
      font-size: 14px;
      color: #fff;
      font-family: 'Roboto Light', sans-serif;
      cursor: pointer;
    }
    &__step--sec {
      @extend .bxslider__step;
      top: -144px;
      left: 20px;
    }
    &__main--sec {
      @extend .bxslider__main;
      top: -127px;
      left: 20px;
    }
    &__text--sec {
      @extend .bxslider__text;

    }
    &__step--th {
      @extend .bxslider__step;
      top: -175px;
      left: 20px;
    }
    &__main--th {
      @extend .bxslider__main;
      top: -157px;
    }
    &__text--th {
      @extend .bxslider__text;
      top: -140px;
    }
  }
  .content {
    &__blogs {
      margin-top: 27px;
      padding-left: 2px;
      display: block;
      width: 100%;
      height: auto;
    }
    &__main {
      display: block;
      text-align: center;
      padding-left: 17px;
      width: 273px;
      letter-spacing: 1px;
      font-size: 22.98px;
      font-family: 'Montserrat Bold', sans-serif;
    }
    &__one {
      display: block;
      padding-top: 20px;
      padding-left: 12px;
      position: relative;
      overflow: hidden;
    }
    &__one__img {
      display: block;
      float: left;
      height: 118px;
      width: 120px;
      background: url(../../img/src/peop_one.png) no-repeat;
      margin-left: 85px;
      border-radius: 50%;
    }
    &__one__icon {
      display: block;
      width: 206px;
      float: right;
      height: 130px;
      background: url(../../img/src/one.jpg) no-repeat;
      background-position: 168px 84px;
      position: absolute;
    }
    &__desc {
      display: block;
      float: left;
      padding-top: 22px;
    }
    &__one__name {
      display: block;
      padding-top: 1px;
      letter-spacing: 1px;
      padding-left: 91px;
      font-size: 13.97px;
      font-family: 'Montserrat Bold', sans-serif;
    }
    &__two__name {
      display: block;
      padding-top: 0;
      letter-spacing: 1px;
      padding-left: 107px;
      font-size: 13.97px;
      font-family: 'Montserrat Bold', sans-serif;
    }
    &__three__name {
      display: block;
      padding-top: 1px;
      letter-spacing: -0.5px;
      padding-left: 110px;
      font-size: 13.97px;
      font-family: 'Montserrat Bold', sans-serif;
    }
    &__three__desc {
      display: block;
      width: 227px;
      text-align: center;
      padding-top: 14px;
      line-height: 18px;
      font-family: 'Roboto Light', sans-serif;
      font-size: 13.97px;
      padding-left: 40px;
    }
    &__two__desc {
      display: block;
      width: 217px;
      text-align: center;
      padding-top: 14px;
      line-height: 17px;
      font-family: 'Roboto Light', sans-serif;
      font-size: 13.97px;
      padding-left: 47px;
    }
    &__one__desc {
      display: block;
      width: 199px;
      text-align: center;
      padding-top: 14px;
      line-height: 18px;
      font-family: 'Roboto Light', sans-serif;
      font-size: 13.97px;
      padding-left: 44px;
    }
    &__one--second {
      margin-top: 26px;
      position: relative;
      overflow: hidden;
    }
    &__one--third {
      margin-top: 26px;
      position: relative;
      overflow: hidden;
    }
    &__one--four {
      margin-top: 24px;
      position: relative;
      overflow: hidden;
    }
    &__two__img {
      @extend .content__one__img;
      margin-left: 97px;
      background: url("../../img/src/peop_two.png") no-repeat;
    }
    &__two__icon {
      @extend .content__one__icon;
      background: url(../../img/src/two.png) no-repeat;
      background-position: 180px 84px;
      width: 220px;
    }
    &__three__img {
      @extend .content__one__img;
      margin-left: 95px;
      background: url("../../img/src/peop_three.png") no-repeat;
    }
    &__three__icon {
      @extend .content__one__icon;
      background: url(../../img/src/three.png) no-repeat;
      background-position: 179px 85px;
      width: 220px;
    }
    &__four__img {
      @extend .content__one__img;
      margin-left: 95px;
      background: url("../../img/src/peop_four.png") no-repeat;
    }
    &__four__icon {
      @extend .content__one__icon;
      background: url(../../img/src/four.png) no-repeat;
      background-position: 179px 86px;
      width: 220px;
    }
    &__four__name {
      display: block;
      padding-top: 1px;
      letter-spacing: -0.5px;
      padding-left: 110px;
      font-size: 13.97px;
      font-family: 'Montserrat Bold', sans-serif;
    }
    &__four__desc {
      display: block;
      width: 199px;
      text-align: center;
      padding-top: 14px;
      line-height: 18px;
      font-family: 'Roboto Light', sans-serif;
      font-size: 13.97px;
      padding-left: 55px;
    }
    &__partners {
      display: block;
      height: 37px;
      width: 280px;
      clear: both;
      position: relative;
      overflow: hidden;
      margin-top: 28px;
      margin-left: 14px;
      letter-spacing: -0.5px;
      border: 2px solid #ff4e50;
      color: #ff4e50;
      background: transparent;
      border-radius: 20px;
      font-family: 'Montserrat Bold', sans-serif;
      font-size: 14px;
      cursor: pointer;
    }
  }
  .holiday {
    display: block;
    margin-top: 38px;
    height: 964px;

    &__main {
      display: block;
      width: 248px;
      height: 62px;
      font-family: 'Montserrat Bold', sans-serif;
      font-size: 22.00px;
      text-align: center;
      padding-left: 33px;
      letter-spacing: -0.5px;
      line-height: 25px;
    }
  }
  .search {
    @extend .holiday__main;
    padding-left: 0;
    display: block;
    padding-top: 37px;
    height: 229px;
    border-bottom: 4px solid #ff4e50;
    width: 100%;
    &__main {
      @extend .holiday__main;
    }
    &__quest {
      display: block;
      font-family: 'Roboto Light', sans-serif;
      font-size: 16.80px;
      letter-spacing: 0.1px;
      margin-left: -1px;
      width: 100%;
    }
    &__text {
      margin-top: 12px;
      width: 275px;
      height: 37px;
      border: none;
      border-radius: 4px;
      -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    }
    input.search__text::-webkit-input-placeholder {
      font-family: 'Roboto Light', sans-serif;
      font-size: 14px;
      padding-left: 13px;

    }
    input.search__text::-moz-placeholder {
      font-family: 'Roboto Light', sans-serif;
      font-size: 14px;
      padding-left: 14px;
    }
    &__click {
      margin-top: 11px;
      width: 280px;
      height: 40px;
      margin-right: 4px;
      border-radius: 24px;
      letter-spacing: 1px;
      font-family: 'Montserrat Bold', sans-serif;
      font-size: 13.96px;
      color: #FFFFFF;
      border: none;
      background: #ff4e50;
      cursor: pointer;
    }
    &__text {
      font-family: 'Montserrat Bold', sans-serif;
      font-size: 17px;
      margin-right: 9px;
    }
  }
  .grid {
    &__item {
      width: 94%;
      padding-left: 7px;
      height: 121px;
      margin-bottom: 9px;
    }
    &__img {
      width: 100%;
      top: 43px;
      height: 100%;
      border-radius: 4px;
    }
    &__text {
      width: 100%;
      margin-top: -77px;
      position: absolute;
      color: #fff;
      font-family: "Montserrat Bold", sans-serif;
      font-size: 22px;
      text-align: center;
    }
  }
  .company {
    display: block;
    margin-top: 16px;

    &__main {
      display: block;
      text-align: center;
      padding-top: 2px;
      padding-right: 4px;
      letter-spacing: 1px;
      font-family: "Montserrat Bold", sans-serif;
      font-size: 16.02px;
      color: #ff7d7f;
    }
    &__text {
      display: block;
      padding-top: 15px;
      letter-spacing: 1px;
      padding-right: 3px;
      font-family: "Montserrat Bold", sans-serif;
      font-size: 14.02px;
      text-align: center;
    }
    &__menu {
      display: block;
      padding-left: 54px;
    }
    &__list {
      display: block;
      float: left;
      padding: 6px 7px;
      font-family: 'Roboto Light', sans-serif;
      font-size: 14.02px;
      color: #999999;
      cursor: pointer;
    }
    &__list:hover {
      color: #ff7d7f;
    }
    &__logo {
      display: block;
    }
    &__logo_partners {
      @extend .company__text;
      padding-top: 36px;
    }
    &__logo_design {
      padding-top: 17px;
      height: 17px;
      display: block;
      padding-left: 118px;
      font-family: "Montserrat Bold", sans-serif;
      font-size: 9.95px;
      color: #cccccc;
      text-transform: uppercase;
    }
    &__logo_link {
      margin-left: 104px;
      height: 40px;
      display: block;
      width: 109px;
      background: url("../../img/src/footer_logo.png") no-repeat;
    }
  }
}
